<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.aurorasheetapp">

    <!-- Existing application settings -->

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31">

        <!-- Declare your Login activity -->
        <activity
            android:name=".Login"
            android:label="Login Activity"
            android:exported="true">
            <!-- If you want this activity to be the entry point of your application, add the MAIN action and LAUNCHER category here -->
        </activity>

        <!-- Declare your Registration activity -->
        <activity
            android:name=".Registration"
            android:label="Registration Activity"
            android:exported="false">
        </activity>

        <!-- Your existing MainActivity declaration -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Any other activities and application components declarations -->

    </application>

    <!-- Permissions, features, and other manifest elements -->

</manifest>
